.navbar-container {
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 15px;
  margin: 10px 0;
  width: 75vw;
}

.logo-container {
  display: flex;
  /* border: 1px solid black; */
}

.logo-image {
  height: 10vh;
  padding: 5px 15px;
}