.main-complaint-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 15px;
  margin: 10px 0;
  padding: 10px 20px;
  width: 75vw;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.head-label {
  font-size: xx-large;
}

.radio-buttons {
  display: flex;
  flex-direction: row;
  width: 40vw;
  justify-content: space-around;
  align-items: center;
  background-color: #afafaf;
  height: 5vh;
  border-radius: 10px;

}

.radio-buttons label {
  font-size: 2.5vh;
}

.navigate-buttons-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: space-evenly;
  width: 65vw;
}

.navigate-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #afafaf;
  min-height: 5.5vh;
  min-width: 11vw;
  border: none;
  border-radius: 15px;
}