.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 10px;
}

.signup input {
  padding: 10px 20px;
  border-radius: 7px;
}

.signup p button {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
  color: #55f;
}